{% extends 'html/main.html' %}
{% load static %}
{% block title %} Login {% endblock %}
{% block content %}

<div class="hexspace">
	<div style="position: relative;text-align: left;">
	<div class="hex_row_odd"> 
	  <div class="center">
	    <div class="hexagon">
	      <div class="hex1">
	        <div class="hex2" style="background: url({% static 'images/advantage_bg.png' %}) center no-repeat">
	        	<div class="center-img">
	            	<img src="{% static 'images/quality.png' %}">
	            </div>
	        <div class="hover-black">
	                <img src="{% static 'images/home_hover_l.png' %}" class="left-img">
	                <img src="{% static 'images/home_hover_r.png' %}" class="right-img">
	                </div>
	          <div class="desc">
	            <h5><br><br>Company - Percentage - Total<br><br></h5> 
           <h4>Wipro - 60% - 5<br>Accenture - 75% - 12<br>Dynamic Content<br>Dynamic Content<br>Dynamic Content</h4>
	            <p><b>Year {{ y.1 }}</b>
	            </p>
	          </div>  
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
<div class="hex_row_odd"> 
  <div class="center">
    <div class="hexagon">
      <div class="hex1">
        <div class="hex2" style="background: url({% static 'images/advantage_bg.png' %}) center no-repeat">
        	<div class="center-img">
            	<img src="{% static 'images/quality.png' %}">
            </div>
        <div class="hover-black">
                <img src="{% static 'images/home_hover_l.png' %}" class="left-img">
                 <img src="{% static 'images/home_hover_r.png' %}" class="right-img">    
                </div>
          <div class="desc">          		
            <h5><br><br>Company - Percentage - Total<br><br></h5> 
           <h4>Wipro - 60% - 5<br>Accenture - 75% - 12<br>Dynamic Content<br>Dynamic Content<br>Dynamic Content</h4>
            <p><b>Year
              {{ y.2 }}</b>
            </p>
          </div>  
        </div>
      </div>
    </div>
  </div>   
</div>
<div class="hex_row_odd">   
  <div class="center">
    <div class="hexagon">
      <div class="hex1">
        <div class="hex2" style="background: url({% static 'images/advantage_bg.png' %}) center no-repeat">
        	<div class="center-img">
            	<img src="{% static 'images/quality.png' %}">
            </div>
        <div class="hover-black">
                <img src="{% static 'images/home_hover_l.png' %}" class="left-img">
                 <img src="{% static 'images/home_hover_r.png' %}" class="right-img">            
                </div>
          <div class="desc">          		
           <h5><br><br>Company - Percentage - Total<br><br></h5> 
           <h4>Wipro - 60% - 5<br>Accenture - 75% - 12<br>Dynamic Content<br>Dynamic Content<br>Dynamic Content</h4>
            <p><b>Year
              {{ y.3 }}</b>
            </p>
          </div>  
        </div>
      </div>
    </div>
  </div> 
</div>
</div>
<div class="hexspace1">
<div class="hex_row_odd">   
  <div class="center">
    <div class="hexagon">
      <div class="hex1">
        <div class="hex2" style="background: url({% static 'images/advantage_bg.png' %}) center no-repeat">
          <div class="center-img">
              <img src="{% static 'images/quality.png' %}">
            </div>
        <div class="hover-black">
                <img src="{% static 'images/home_hover_l.png' %}" class="left-img">
                 <img src="{% static 'images/home_hover_r.png' %}" class="right-img">               
                </div>
          <div class="desc">              
           <h5><br><br>Company - Percentage - Total<br><br></h5> 
           <h4>Wipro - 60% - 5<br>Accenture - 75% - 12<br>Dynamic Content<br>Dynamic Content<br>Dynamic Content</h4>
            <p><b>Year
              {{ y.4 }}</b>
            </p>
          </div>  
        </div>
      </div>
    </div>
  </div> 
</div>
<div class="hex_row_odd">   
  <div class="center">
    <div class="hexagon">
      <div class="hex1">
        <div class="hex2" style="background: url({% static 'images/advantage_bg.png' %}) center no-repeat">
        	<div class="center-img">
            	<img src="{% static 'images/quality.png' %}">
            </div>
        <div class="hover-black">
                <img src="{% static 'images/home_hover_l.png' %}" class="left-img">
                 <img src="{% static 'images/home_hover_r.png' %}" class="right-img">               
                </div>
          <div class="desc">
           <h5><br><br>Company - Percentage - Total<br><br></h5> 
           <h4>Wipro - 60% - 5<br>Accenture - 75% - 12<br>Dynamic Content<br>Dynamic Content<br>Dynamic Content</h4>
            <p><b>Year
              {{ y.5 }}</b>
            </p>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}