{% extends 'html/main.html' %}
{% block title %} Login {% endblock %}
{% block content %}

        <div class="full-page">
        <div id='login-form'class='login-page'>
            <div class="form-box">
                <div class='button-box'>
                    <div id='btn'></div>
                    <button type='button'onclick='login()'class='toggle-btn'>Log In</button>
                    <button type='button'onclick='register()'class='toggle-btn'>Register</button>
                </div>
                <form id='login' class='input-group-login'>
                    <input type='text'class='input-field'placeholder='Email Id' required >
        <input type='password'class='input-field'placeholder='Enter Password' required>
        <input type='checkbox'class='check-box'><span style="color: #F3C693">Remember Password</span>
        <button type='submit'class='submit-btn'>Log in</button>
     </form>
     <form id='register' class='input-group-register' method="POST">
         {% csrf_token %}
         <input type='text'class='input-field'placeholder='First Name' name="username">
         <input type='text'class='input-field'placeholder='Last Name ' >
         <input type='email'class='input-field'placeholder='Email Id' name="mail">
         <input type='password'class='input-field'placeholder='Enter Password' >
         <input type='password'class='input-field'placeholder='Confirm Password'  >
         <input type='checkbox'class='check-box'><span style="color: #F3C693">I agree to the terms and conditions</span>
                    <button class='submit-btn'>Register</button>
           </form>
            </div>
        </div>
    </div>
    <script>
        var x=document.getElementById('login');
    var y=document.getElementById('register');
    var z=document.getElementById('btn');
    function register()
    {
      x.style.left='-400px';
      y.style.left='50px';
      z.style.left='110px';
    }
    function login()
    {
      x.style.left='50px';
      y.style.left='450px';
      z.style.left='0px';
    }
  </script>
  <script>
        var modal = document.getElementById('login-form');
        window.onclick = function(event) 
        {
            if (event.target == modal) 
            {
                modal.style.display = "none";
            }
        }
    </script>
{% endblock %}