{% load static %}
<nav class="navbar navbar-expand-sm navbar-dark navbar-custom">


  <ul class="navbar-nav">
    <li class="nav-item">
      <div>
      <a href="{% url 'hm' %}"><img src="{% static 'images/logo.png' %}" width="50px" height="50px>"></a>
      </div>
    </li>
    <pre>   </pre>
    <li class="nav-item">
      <div id="login-button">
        <a class="nav-link glyphicon" href="{% url 'hm' %}"><i class="fas fa-home fa-lg"></i></h5></a>
      </div>
    </li>
    <pre>   </pre>
     <li class="nav-item">
      <div id="login-button">
        <a class="nav-link glyphicon" href="{% url 'hm' %}"><strong style="padding-left: 6px;"><i class="fas fa-mobile-alt fa-lg"></i></strong></h5></a>
      </div>
    </li>
    <pre>   </pre>
    <li class="nav-item">
      <div id="login-button">
        <a class="nav-link glyphicon" href="{% url 'hm' %}"><i class="far fa-list-alt fa-lg"></i></i></h5></a>
      </div>
    </li>
    <pre>   </pre>
    <li class="nav-item">
      <div id="login-button">
        <a class="nav-link glyphicon" href="{% url 'ach' %}"><i class="fas fa-medal fa-lg"></i></i></h5></a>
      </div>
    </li>
    <pre>            </pre>
    <li>
      <div class="crttitle">
        <h3 data-text="Campus_Recruitment_Training">Campus_Recruitment_Training</h3>
      </div>
    </li>
  </ul>


  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <div id="login-button">
        <a class="nav-link glyphicon" href="{% url 'log' %}"><strong style="padding-left: 3px;"><i class="fas fa-user fa-lg"></i></strong></h5></a>
      </div>
    </li>
    <pre>   </pre>
    <li class="nav-item">
      <div id="login-button">
        <a class="nav-link glyphicon" href="{% url 'log' %}"><i class="fas fa-registered fa-lg"></i></h5></a>
      </div>
    </li>
    <pre>   </pre>
     <li class="nav-item">
      <div id="login-button">
        <a class="nav-link glyphicon" href="{% url 'log' %}"><strong style="width: 100px;"><i class="fas fa-users fa-lg"></i></strong></a>
      </div>
    </li>
  </ul>
</div>
</nav>
