{% extends 'html/base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="abtspace">
<section class="abtcontact">	
	<div class="abtcontainer">
		<div class="abtcontactinfo">
			<div class="abtbox">
				<div class="abticon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
				<div class="abttext">
					<h3>Address</h3>
					<p>6-8-1236, <br> NGOs colont, <br> Tirupati</p>
				</div>
			</div>
			<div class="abtbox">
				<div class="abticon"><i class="fa fa-phone" aria-hidden="true"></i></div>
				<div class="abttext">
					<h3>Phone</h3>
					<p>9121047583</p>
				</div>
			</div>
			<div class="abtbox">
				<div class="abticon"><i class="far fa-envelope"></i></div>
				<div class="abttext">
					<h3>Email</h3>
					<p>loklokesh9876@gmail.com</p>
				</div>
			</div>
		</div>	
		<div class="abtcontactform">
			<form method="POST">
				{% csrf_token %}
				<h2 align="center" style="padding-bottom: 15px; line-height: 1em; font-style: italic; color: blue;">Send Message</h2>
				<div>
					<label for="name" class="">Your name</label>
                    <input type="text" id="name" class="form-control">
                </div>
                <hr>
				<div>
					<label for="mail" class="">Email</label>
                    <input type="text" id="mail" class="form-control">
                </div>
                <hr>
				<div>
					<label for="subject" class="">Subject</label>
                    <input type="text" id="subject" class="form-control">
                </div>
                <hr>
                <input type="submit" value="click" class="btn btn-success col-sm">
			</form>
		</div>	
	</div>
</section>
</div>

{% endblock %}