{% extends 'html/base.html' %}
{% block title %}Register{% endblock %}
{% block content %}

<div class="container">
	<div class = "card col-md-6 mx-auto mt-5 shadow-lg">
    <div class="card-body">
		<form method="POST">
	      {% csrf_token %}
	      <h3>Registration</h3>
	      <table class="table table-borderless">
					{% for k in t %}
					<tr>
						<td>
						{{k}}	
						</td>
					</tr>
					{% endfor %}
				</table>
				<div class="row">
					<div class="col">
						<a href="{% url 'log' %}" class="form-control btn btn-info col-sm">Existing user</a>
						</div>
						<div class="col">
							<input type="submit" class="form-control btn btn-success col-sm" name="Subscribe">
						</div>
					</div>
      </form>
     
  </div>
	</div>
	
</div>
{% endblock %}