{% load static %}

{% block body %}

{% include 'html/navbar.html' %}
<marquee style="font-family: 'Algerian'; font-size: 25px; color: darkcyan; background-color: black;font-weight: bold;margin-top: 1%">
	Admin Login
</marquee>
<hr>
<form class="container mt-5" method="POST">
	{% csrf_token %}
	<label><b>Username</b></label>
	<input type="text" class="form-control" name="uname" placeholder="Enter Username">
	<label><b>Password</b></label>
	<input type="password" class="form-control" name="pwd" placeholder="Enter password">
	<input type="submit" class= "btn btn-primary" style="margin-top: 2%;color: darkcyan;background-color: black ; height: 40px; font-size: 20px" >
</form>


{% endblock %}